.paypal-button {
    background: linear-gradient(to right, #bbc1c7, #2728ff);
    background-color: #bbc1c7;
    color: #fff;
    font-family: Trebuchet MS;
    font-size: 20px;
    font-weight: 800;
    font-style: normal;
    text-decoration: none;
    padding: 10px 21px;
    border: 0px solid #000;
    border-radius: 17px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 8px #000;
}

.paypal-button span {
    margin-right: 21px;
    display: block;
    width: 31px;
    height: 31px;
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(0deg);
}

.paypal-button:hover {
    background: linear-gradient(to right, #c3c8cd, #5959ff);
    background-color: #c3c8cd;
}

.paypal-button:active {
    transform: scale(0.95);
}